svg {
  display: block;
  height: 50px;
  margin: 50px auto;
  fill:#3BA9EE;
}

img {
  max-width: 200px;
}

#bioPage {
  display: block;
}

#technologiesPage {
  display: none;
}

#projectsPage {
  display: none;
}
